body {
    font-family: Arial, sans-serif;
    background-image: url(foto/bg.jpeg);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
